.menu-bg {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 23rem;
    background-position: center; */
    background-image: url("../assets/images/coffee-circle.jpg");
    background-size: cover;
  }
  